.my_page {
    width: 1400px;
    margin: 0 auto;
}

.my_header {
    position: relative;
    border-bottom: 1px solid rgba(60, 60, 60, .12);
    padding: 0 12px 0 24px;
    background-color: #f9f9f9;
    white-space: nowrap;
    transition: border-color .5s, background-color .5s;
    color: #333;
    line-height: 60px;
    position: fixed;
    width: 100%;
    z-index: 9999;

    .header_box {
        width: 1400px;
        height: 100%;
        margin: 0 auto;
        display: flex;

        .title {
            font-size: 18px;
            width: 200px;
            text-align: center;
            user-select: none;
        }

        .nav_box {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            padding-right: 10px;
            align-items: center;

            .el-icon-search {
                font-size: 20px;
                cursor: pointer;
            }

            .search_box {
                background-color: #d1d0d06b;
                border-radius: 20px;
                width: 130px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 5px;
                padding-right: 10px;
                transition: all 0.3s;

                .input {
                    width: 80%;
                    height: 36px;

                    /deep/ input {
                        height: 100%;
                        border: 0;
                        border-radius: 20px;
                        background-color: transparent;
                    }
                }
            }

            .search_focus {
                background-color: #f9f9f9;
                border: 1px solid #b1a8a86b;
                width: 260px;
                padding-right: 20px;
            }
        }
    }
}


.el-footer {
    position: relative;
    padding: 0 12px 0 24px;
    white-space: nowrap;
    transition: border-color .5s, background-color .5s;
    line-height: 60px;
    color: #333;
    text-align: center;
    user-select: none;
}

.my-aside {
    color: #333;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    position: fixed;
    // 滚动条宽度
    &::-webkit-scrollbar {
        width: 6px;
        background-color: #fff;
    }
    // 滚动条轨道
    &::-webkit-scrollbar-track {
        background-color: transparent;
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;
    }
    // 滚动条背景
    &::-webkit-scrollbar-track-piece {
        background-color: transparent;
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;
    }
    // 滚动条滑块
    &::-webkit-scrollbar-thumb {
        background-color: #e9e7e7;
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;
    }

    .aside_list {
        padding-bottom: 20px;

        .item {
            padding-top: 16px;
        }

        .title {
            line-height: 20px;
            font-size: 13px;
            font-weight: 600;
            color: #213547;
            transition: color .5s;
        }

        .path_name {
            line-height: 30px;
            cursor: pointer;

            a:hover {
                color: var(--ThemeColor);
            }
        }

        .active {
            color: var(--ThemeColor);
        }
    }
}

.aside-empty{
    width: 240px;
    height: calc(100vh - 60px);
}

.el-main {
    color: #333;
    position: relative;

    .welcome {
        font-size: 30px;
        letter-spacing: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .empty-tips{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .piblic-box {
        max-width: 1200px;
        margin: 0 auto;
        .title {
            font-size: 20px;
            padding-top: 30px;
        }
        ul {
            display: grid;
            /* 宽度平均分成4份 */
            grid-template-columns: repeat(4, 1fr);
            column-gap: 20px; //左右间距
            row-gap: 40px; //上下间距
            margin-top: 40px;
            user-select: none;
            li {
                height: 100px;
                line-height: 100px;
                box-shadow: 0 4px 8px 6px rgba(7, 17, 21, 0.06);
                text-align: center;
                font-size: 26px;
                border: 10px;
                cursor: pointer;
                transition: all 0.3s;
                color: var(--fontColor);
                background: #fff;
                &:hover {
                    box-shadow: 0 4px 8px 10px rgba(7, 17, 21, 0.1);
                }
            }
        }
        .small-size {
            font-size: 18px;
        }
    }
}