.my_page {
  width: 1400px;
  margin: 0 auto;
}
.my_header {
  position: relative;
  border-bottom: 1px solid rgba(60, 60, 60, 0.12);
  padding: 0 12px 0 24px;
  background-color: #f9f9f9;
  white-space: nowrap;
  transition: border-color 0.5s, background-color 0.5s;
  color: #333;
  line-height: 60px;
  position: fixed;
  width: 100%;
  z-index: 99;
}
.my_header .header_box {
  width: 1400px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.my_header .header_box .title {
  font-size: 18px;
  width: 200px;
  text-align: center;
  user-select: none;
}
.my_header .header_box .nav_box {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 10px;
  align-items: center;
}
.my_header .header_box .nav_box .el-icon-search {
  font-size: 20px;
  cursor: pointer;
}
.my_header .header_box .nav_box .search_box {
  background-color: #d1d0d06b;
  border-radius: 20px;
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  padding-right: 10px;
  transition: all 0.3s;
}
.my_header .header_box .nav_box .search_box .input {
  width: 80%;
  height: 36px;
}
.my_header .header_box .nav_box .search_box .input /deep/ input {
  height: 100%;
  border: 0;
  border-radius: 20px;
  background-color: transparent;
}
.my_header .header_box .nav_box .search_focus {
  background-color: #f9f9f9;
  border: 1px solid #b1a8a86b;
  width: 260px;
  padding-right: 20px;
}
.el-footer {
  position: relative;
  padding: 0 12px 0 24px;
  white-space: nowrap;
  transition: border-color 0.5s, background-color 0.5s;
  line-height: 60px;
  color: #333;
  text-align: center;
  user-select: none;
}
.my-aside {
  color: #333;
  height: calc(100vh - 60px);
  overflow-y: scroll;
  position: fixed;
}
.my-aside .aside_list {
  padding-bottom: 20px;
}
.my-aside .aside_list .item {
  padding-top: 16px;
}
.my-aside .aside_list .title {
  line-height: 20px;
  font-size: 13px;
  font-weight: 600;
  color: #213547;
  transition: color 0.5s;
}
.my-aside .aside_list .path_name {
  line-height: 30px;
  cursor: pointer;
}
.my-aside .aside_list .path_name a:hover {
  color: var(--ThemeColor);
}
.my-aside .aside_list .active {
  color: var(--ThemeColor);
}
.aside-empty {
  width: 240px;
  height: calc(100vh - 60px);
}
.el-main {
  color: #333;
  position: relative;
}
.el-main .welcome {
  font-size: 30px;
  letter-spacing: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.el-main .empty-tips {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.el-main .piblic-box {
  max-width: 1200px;
  margin: 0 auto;
}
.el-main .piblic-box .title {
  font-size: 20px;
  padding-top: 30px;
}
.el-main .piblic-box ul {
  display: grid;
  /* 宽度平均分成4份 */
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 40px;
  margin-top: 40px;
  user-select: none;
}
.el-main .piblic-box ul li {
  height: 100px;
  line-height: 100px;
  box-shadow: 0 4px 8px 6px rgba(7, 17, 21, 0.06);
  text-align: center;
  font-size: 26px;
  border: 10px;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--fontColor);
  background: #fff;
}
.el-main .piblic-box ul li:hover {
  box-shadow: 0 4px 8px 10px rgba(7, 17, 21, 0.1);
}
.el-main .piblic-box .small-size {
  font-size: 18px;
}
