@font-face {
  font-family: "iconfont"; /* Project id 2817631 */
  src: url('//at.alicdn.com/t/font_2817631_haytnngqw8.woff2?t=1632886326973') format('woff2'),
       url('//at.alicdn.com/t/font_2817631_haytnngqw8.woff?t=1632886326973') format('woff'),
       url('//at.alicdn.com/t/font_2817631_haytnngqw8.ttf?t=1632886326973') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiaoseguanli:before {
  content: "\e608";
}

.icon-xitongshezhi1:before {
  content: "\e640";
}

.icon-shouye2:before {
  content: "\e848";
}

.icon-mima:before {
  content: "\e619";
}

.icon-yanzhengma:before {
  content: "\e601";
}

.icon-yonghuming:before {
  content: "\e6d0";
}

.icon-lishijilu1:before {
  content: "\e76f";
}

.icon-linshicheliang:before {
  content: "\e661";
}

.icon-cheliangguanli:before {
  content: "\e634";
}

.icon-guizeshezhi:before {
  content: "\e600";
}

.icon-cheliangguanli2:before {
  content: "\e60a";
}

.icon-caiwu:before {
  content: "\e765";
}
